.form-container {
    background-image: url("./assets/image.svg");
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
.message-container {
  background-image: url("./assets/image.svg");
    background-size: cover;
    background-position: center;
    padding-top: 5%;
    padding-left: 25%;
    align-items: start;
    height: 100vh; 
}
.letter-pad {
  width: 70%;
  padding: 70px;
  background-color: white;
  box-shadow: 0px 3px 12px black;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
}


form {
    display: flex;
    flex-direction: column;
    padding: 75px;
    border-radius: 20px;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 3px 10px black;
  }

.sep-div {
  margin-bottom: 20px;
}
  
  
  label {
    font-weight: bold;
    font-size: 14px !important;
    font-family: 'Times New Roman', Times, serif;
  }

  
  
  .form-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    /* margin-bottom: 25px; */
    display:flex;
    /* justify-content:baseline; */
    width: 270px;
    height: 30px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  
  .form-input[type="password"] {
    display: flex;
  }
  

.file{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 10px; */
    display:flex;
    justify-content:baseline;
    width:270px;
    margin-top: 5px;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}

.btn-primary {
  font-family: 'Times New Roman', Times, serif !important;
  margin-top: 20px !important;
}

.error-msg {
  color: red;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
}